.customization {
    padding: 10px;
    display: grid;
    border: 5px #61000d solid;
    grid-template-rows: 85px 50px;
    border-radius: 25px;
}

.bodyCounter span {
    justify-content: space-around;
    display: flex;
    color: #d7ecf4;
    margin: 5px;
}

.bodyCounter span input {
    width: 30%;
    border-radius: 10px;
    border: #61000d 2px solid;
    /*border: #d5eded 4px solid;*/
    text-align: center;

}

.firstBodyCounter {
    padding: 10px;
    display: grid;
    grid-template-columns: 60px 70px 70px 60px;
    grid-template-rows: 85px 50px;
    /*border: 2px rosybrown solid;*/
    border: 5px #61000d solid;
    border-radius: 25px;
}

.secondBodyCounter {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin-top: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    border: 2px #61000d solid;
    border-radius: 10px;
}

.bodyCounter {
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    border: 2px #61000d solid;
}

.colorCount {
    color: red;
    background-color: black;
    transition: background-color 1s linear;
}

.button {
    color: #d7ecf4;
    background: #5d9700;
}